@import url(http://fonts.googleapis.com/css?family=Oswald);

body
{
    font-family: 'Oswald', 'Verdana', 'Arial', sans-serif;
    font-size: 1em/1.5em;
}
header
{
    font-size: 2.5em;
    color: #AAA;
    padding: 30px 30%;
    text-align: center;
}
#wrapper
{
/*     background-color: blue; */
    width: 1140px;
    padding: 2% auto;
    margin: auto;
    text-align: center;
}
.box
{   
    position: relative;
/*     background-color: red; */
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin: 20px;
    -webkit-box-shadow: 0 10px 25px 0px #888;
    -mox-box-shadow: 0 10px 25px 0px #888;
    box-shadow: 0 10px 25px 0px #888;
    vertical-align: middle;
}
.box-image
{
/*     background-color: yellow; */
    max-width: 100%;
    height: auto;
    padding: 0px auto;
}
.box:hover
{
    cursor: pointer;
    -webkit-box-shadow: 0 5px 15px 0px #888;
    -mox-box-shadow: 0 5px 15px 0px #888;
    box-shadow: 0 5px 15px 0px #888;
}
.description
{
    margin: 10px auto 0;
}

@media screen and (max-width:1140px)
{
    body{
        font-size: .9em;
    }
    #wrapper
    {
        width: 700px;
    }
    .box
    {
        width: 40%;
    }
    
}
@media screen and (max-width:800px)
{
    body{
        font-size: .8em;
    }
    #wrapper
    {
        width: 500px;
    }
    .box
    {
        width: 80%;
    }
}
@media screen and (max-width:480px)
{
    body{
        font-size: .7em;
    }
    #wrapper
    {
        width: 400px;
    }
    .box
    {
        width: 80%;
    }
}
